body
{
  /* background-image: url(images/logo.jpeg); */
  /* opacity: 0.6; */
  background-size: cover;
  font-family: 'Space Mono'
}
h1, h2, h3, h4, h5, h6, figure {
  font-family: 'Kaushan Script', cursive;
}

.navbar
{
  text-align: center;
}
.logo
{
  width: 2%;
  height: 2%;
  margin:1%
}
.flex-container
{
  display: flex;
  /* border: 2px solid grey; */
  justify-content: center;
  align-items: center;
  margin: 4%;
  padding: 4% 0;
}
.card-item
{
  /* height: 600px; */
}
.card-body {
  height: 300px; /* set a fixed height for the card body */
  overflow: scroll; /* hide any overflow beyond the fixed height */
}

.card-img-top {
  height: 100%; /* set the image height to fill the card body */
  object-fit: cover; /* crop the image to fit within the card body */
}
