body {
  /* background-image: url(images/logo.jpeg); */
  /* background-image: url(images/autumnleaf.png); */

  /* opacity: 0.6; */
  /* background-size: cover; */
  font-family: "Space Mono";
}

/* ******NAVBAR****** */
.navbar {
  text-align: center;
  background-color: #51cb6d;
  font-family: "Cormorant Garamond", serif;
  font-size: x-large;
  margin-bottom: 0;
}
.nav-item {
  font-weight: bold;
  /* margin: 0.5%; */
}
.logo {
  width: 3%;
  height: 4%;
  margin: 1%;
}

/* *******BANNER******** */
#banner {
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) -162.91%,
    #05ad86 100%
  ),
  url(images/autumnleaf.png); */
  /* margin: 0; */
  width: 100%;
  height:600px;
  text-align: center;
  background-image: url(images/autumnleaf.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  background-size: contain;
}
.banner-image p {
  font-family: "Space Mono", monospace;
  width: 65vw;
  margin: auto;
}
.banner-image h1 {
  font-family: "Kaushan Script", cursive;
  color: #609966;
  font-size: 10vw;
  width: 70vw;
  margin: auto;
}

/* *******FLEX-BOX******** */
.flex-container {
  display: flex;
  /* border: 2px solid grey; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 7% 0;
}
.f-item {
  text-align: center;
  padding: 0% 2%;
  margin: 1%;
  align-self: center;
  border: 2px solid grey;
}
.f-item h2,img,p{
  padding: 1% 4%;
}
.f-container {
  display: flex;
  /* border: 2px solid grey; */
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 1% 10%;
}
.flex-item {
  margin: 0%;
}

/* ******CARDS******** */
.card-body {
  height: 300px; /* set a fixed height for the card body */
  overflow: scroll; /* hide any overflow beyond the fixed height */
}

.card-img-top {
  height: 100%; /* set the image height to fill the card body */
  object-fit: cover; /* crop the image to fit within the card body */
}

/* *****CARDS IN SUBTEAMS**** */
#subteams .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  /* font-family: arial; */
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

#subteams .card h2 {
  color: #4caf50;
}

#subteams .card p {
  color: #666;
  font-size: 14px;
}

/* *****FOOTER******/
#footer {
  background-color: #4caf50;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  text-align: center;
}
/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: "Poppins", sans-serif;
  background: #111;
background-color: hsl(172, 100%, 62%);
} */

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.wrapper .icon {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.wrapper .icon i {
  color: white;
  transition: 0.4s linear;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ff6347;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon::before,
.wrapper .icon::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.4s linear;
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  transform: scale(0.8);
  transition: 0.4s linear;
}

.wrapper .icon:hover::before {
  border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
  color: white;
}

.wrapper .icon:hover::after {
  border-radius: 50%;
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewY(-20deg);
  color: white;
}
